LORA_PORT=/dev/serial/by-id/<YOUR_LORA_DEVICE>
LORA_BAUD=9600
GPS_PORT=/dev/ttyUSB0
GPS_BAUD=9600
SDS011_PORT=/dev/ttyUSB1
SDS011_BAUD=9600
BME280_BUS=1
BME280_ADDRESS=0x76
LINE_TRACKER_GPIO=17
CAMERA_COUNTS_PATH=/home/pi/ap9_mediapipe/latest_counts.json
